/* line 3, ../sass/style.scss */
body {
  padding-top: 70px;
}

/* line 7, ../sass/style.scss */
.mydatatable {
  table-layout: fixed;
}

/* line 11, ../sass/style.scss */
.tab-content {
  margin-top: 20px;
}

/* line 15, ../sass/style.scss */
.dataTable td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
